<article class="create-profile"> 
   <!-- *ngIf="userInfo$ | async as UserInfo" -->
    <div class="create-profile__header">
      <fa-icon [icon]="faTwitter" size="lg"></fa-icon>
      <h1>You're logged in.</h1>
      <h4>Great! one more step to go.</h4>
      <p>Create your profile and start tweeting</p>
    </div>
    <form class="create-profile__form" [formGroup]="regForm">
      <div class="form-group">
        <img />
      </div>
      <div class="form-group">
        <label class="form-group__label" for="name">Display Name</label>
        <input
          autocomplete="off"
          formControlName="username"
          class="form-group__input"
          type="text"
          id="name"
          name="name"
          placeholder="Name"
          [value]=""
        />
      </div>
      <div class="form-group">
        <label class="form-group__label" for="email">Email</label>
        <input
          formControlName="email"
          autocomplete="off"
          class="form-group__input"
          type="email"
          name="email"
          placeholder="Email"
          required
        />
      </div>
      <div class="form-group">
        <label class="form-group__label" for="password">Password</label>
        <input
          formControlName="password"
          autocomplete="off"
          class="form-group__input form__input--password"
          type="password"
          name="password"
          placeholder="Password"
          required
        />
      </div>
    </form>
    <div class="create-profile__actions">
      <button class="btn btn--primary" (click)="handleCreateProfile()">
        Create Profile
      </button>
    </div>
    <div class="already">
      <span class="already__label">Already have an account?</span>
      <a class="already__link" routerLink="/login">Login</a>
    </div>
  </article>
  